@import './assets/components/variables/reset.scss';
@import './assets/components/variables/variables.scss';

.background__app {
	background-color: $light-grey;
	display: flex;
	flex-direction: column;
	align-items: center;

	.App {
		min-height: 100vh;
		min-width: 12.5rem;
		max-width: 45.9375rem;
		padding: 0 2.5rem 2.5rem 2.5rem;
		background-color: $white;
		font-family: $outfit;
		color: $wenge-brown;

		@media screen and (min-width: 475px) {
			padding: 2.5rem;
		}

		@media screen and (min-width: 735px) {
			margin: 7.5rem 0;
			border-radius: 1.5rem;
		}
	}
}
